{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block judul %}
Transaksi
{% endblock %}

{% block konten %}
<form method="post" action="{% url 'main-transaksi' %}">
	{% csrf_token%}
	<fieldset class="form-group">
		{{form|crispy}}
	</fieldset>
	<div class="mt-2">
		<button type="submit" class="btn btn-primary">Transfer</button>
	</div>
</form>

<!-- 
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Transfer</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Transfer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="{% url 'main-rekening' %}">
        <div class="modal-body">
            {% csrf_token%}
            <fieldset class="form-group">
              {{form|crispy}}
            </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
          <button type="submit" class="btn btn-primary">Transfer</button>
        </div>
      </form>
    </div>
  </div>
</div> -->
{% endblock %}